{% extends 'Api/View/Layout/layout.html.twig' %}


{% block content %}

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>login</th>
        <th>hasło</th>
    </tr>
    </thead>

    <tbody>

    {% for res in result %}

        <tr>
            <td>{{ res.id }}</td>
            <td>{{ res.login }}</td>
            <td>{{ res.haslo }}</td>
            <td><a class="btn btn-danger" href="{{ url('userDelete', {'id':res.id}) }}">usuwanie</a>
                <a class="btn btn-primary" href="{{ url('userEdit', {'id':res.id}) }}">edycja</a>
                <a class="btn btn-primary" href="{{ url('userAdd') }}">dodawanie</a>
            </td>

        </tr>
    {% endfor %}

    </tbody>

</table>

    {{ pagination(page, allPage, 'users') }}

{% endblock %}

